Tutorial of `AdventCalendar` module in `s2s` package.

In [1]:
import numpy as np
import pandas as pd
from pandas.tseries.frequencies import to_offset
import s2s.time

Create AdventCalendar instance.

In [12]:
calendar = s2s.time.AdventCalendar(anchor_date=(11, 30), freq='3d')
calendar

AdventCalendar(month=11, day=30, freq=3d, n=121)

Map the calendar to a single year.

In [3]:
intervals = calendar.map_years(2020)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-111,t-112,t-113,t-114,t-115,t-116,t-117,t-118,t-119,t-120
2020,"(2020-11-27, 2020-11-30]","(2020-11-24, 2020-11-27]","(2020-11-21, 2020-11-24]","(2020-11-18, 2020-11-21]","(2020-11-15, 2020-11-18]","(2020-11-12, 2020-11-15]","(2020-11-09, 2020-11-12]","(2020-11-06, 2020-11-09]","(2020-11-03, 2020-11-06]","(2020-10-31, 2020-11-03]",...,"(2019-12-30, 2020-01-02]","(2019-12-27, 2019-12-30]","(2019-12-24, 2019-12-27]","(2019-12-21, 2019-12-24]","(2019-12-18, 2019-12-21]","(2019-12-15, 2019-12-18]","(2019-12-12, 2019-12-15]","(2019-12-09, 2019-12-12]","(2019-12-06, 2019-12-09]","(2019-12-03, 2019-12-06]"

Map the calendar to multiple years (start year - end year).

In [4]:
intervals = calendar.map_years(2020, 2022)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-111,t-112,t-113,t-114,t-115,t-116,t-117,t-118,t-119,t-120
2022,"(2022-11-27, 2022-11-30]","(2022-11-24, 2022-11-27]","(2022-11-21, 2022-11-24]","(2022-11-18, 2022-11-21]","(2022-11-15, 2022-11-18]","(2022-11-12, 2022-11-15]","(2022-11-09, 2022-11-12]","(2022-11-06, 2022-11-09]","(2022-11-03, 2022-11-06]","(2022-10-31, 2022-11-03]",...,"(2021-12-29, 2022-01-01]","(2021-12-26, 2021-12-29]","(2021-12-23, 2021-12-26]","(2021-12-20, 2021-12-23]","(2021-12-17, 2021-12-20]","(2021-12-14, 2021-12-17]","(2021-12-11, 2021-12-14]","(2021-12-08, 2021-12-11]","(2021-12-05, 2021-12-08]","(2021-12-02, 2021-12-05]"
2021,"(2021-11-27, 2021-11-30]","(2021-11-24, 2021-11-27]","(2021-11-21, 2021-11-24]","(2021-11-18, 2021-11-21]","(2021-11-15, 2021-11-18]","(2021-11-12, 2021-11-15]","(2021-11-09, 2021-11-12]","(2021-11-06, 2021-11-09]","(2021-11-03, 2021-11-06]","(2021-10-31, 2021-11-03]",...,"(2020-12-29, 2021-01-01]","(2020-12-26, 2020-12-29]","(2020-12-23, 2020-12-26]","(2020-12-20, 2020-12-23]","(2020-12-17, 2020-12-20]","(2020-12-14, 2020-12-17]","(2020-12-11, 2020-12-14]","(2020-12-08, 2020-12-11]","(2020-12-05, 2020-12-08]","(2020-12-02, 2020-12-05]"
2020,"(2020-11-27, 2020-11-30]","(2020-11-24, 2020-11-27]","(2020-11-21, 2020-11-24]","(2020-11-18, 2020-11-21]","(2020-11-15, 2020-11-18]","(2020-11-12, 2020-11-15]","(2020-11-09, 2020-11-12]","(2020-11-06, 2020-11-09]","(2020-11-03, 2020-11-06]","(2020-10-31, 2020-11-03]",...,"(2019-12-30, 2020-01-02]","(2019-12-27, 2019-12-30]","(2019-12-24, 2019-12-27]","(2019-12-21, 2019-12-24]","(2019-12-18, 2019-12-21]","(2019-12-15, 2019-12-18]","(2019-12-12, 2019-12-15]","(2019-12-09, 2019-12-12]","(2019-12-06, 2019-12-09]","(2019-12-03, 2019-12-06]"

Flatten the indices.

In [5]:
intervals = calendar.map_years(2020, 2022, flat=True)
intervals

0      (2022-11-27, 2022-11-30]
1      (2022-11-24, 2022-11-27]
2      (2022-11-21, 2022-11-24]
3      (2022-11-18, 2022-11-21]
4      (2022-11-15, 2022-11-18]
                 ...
358    (2019-12-15, 2019-12-18]
359    (2019-12-12, 2019-12-15]
360    (2019-12-09, 2019-12-12]
361    (2019-12-06, 2019-12-09]
362    (2019-12-03, 2019-12-06]
Length: 363, dtype: interval

Map the calendar to the input data.

In [13]:
# create dummy data for testing
time_index = pd.date_range('20191101', '20211120', freq='10d')
var = np.random.random(len(time_index))
# generate input data
test_data = pd.Series(var, index=time_index)
# map year to data
intervals = calendar.map_year_to_data(test_data, flat=False)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-111,t-112,t-113,t-114,t-115,t-116,t-117,t-118,t-119,t-120
2021,"(2021-11-27, 2021-11-30]","(2021-11-24, 2021-11-27]","(2021-11-21, 2021-11-24]","(2021-11-18, 2021-11-21]","(2021-11-15, 2021-11-18]","(2021-11-12, 2021-11-15]","(2021-11-09, 2021-11-12]","(2021-11-06, 2021-11-09]","(2021-11-03, 2021-11-06]","(2021-10-31, 2021-11-03]",...,"(2020-12-29, 2021-01-01]","(2020-12-26, 2020-12-29]","(2020-12-23, 2020-12-26]","(2020-12-20, 2020-12-23]","(2020-12-17, 2020-12-20]","(2020-12-14, 2020-12-17]","(2020-12-11, 2020-12-14]","(2020-12-08, 2020-12-11]","(2020-12-05, 2020-12-08]","(2020-12-02, 2020-12-05]"
2020,"(2020-11-27, 2020-11-30]","(2020-11-24, 2020-11-27]","(2020-11-21, 2020-11-24]","(2020-11-18, 2020-11-21]","(2020-11-15, 2020-11-18]","(2020-11-12, 2020-11-15]","(2020-11-09, 2020-11-12]","(2020-11-06, 2020-11-09]","(2020-11-03, 2020-11-06]","(2020-10-31, 2020-11-03]",...,"(2019-12-30, 2020-01-02]","(2019-12-27, 2019-12-30]","(2019-12-24, 2019-12-27]","(2019-12-21, 2019-12-24]","(2019-12-18, 2019-12-21]","(2019-12-15, 2019-12-18]","(2019-12-12, 2019-12-15]","(2019-12-09, 2019-12-12]","(2019-12-06, 2019-12-09]","(2019-12-03, 2019-12-06]"
2019,"(2019-11-27, 2019-11-30]","(2019-11-24, 2019-11-27]","(2019-11-21, 2019-11-24]","(2019-11-18, 2019-11-21]","(2019-11-15, 2019-11-18]","(2019-11-12, 2019-11-15]","(2019-11-09, 2019-11-12]","(2019-11-06, 2019-11-09]","(2019-11-03, 2019-11-06]","(2019-10-31, 2019-11-03]",...,"(2018-12-29, 2019-01-01]","(2018-12-26, 2018-12-29]","(2018-12-23, 2018-12-26]","(2018-12-20, 2018-12-23]","(2018-12-17, 2018-12-20]","(2018-12-14, 2018-12-17]","(2018-12-11, 2018-12-14]","(2018-12-08, 2018-12-11]","(2018-12-05, 2018-12-08]","(2018-12-02, 2018-12-05]"

In [6]:
# input data in reverse order
test_data = pd.Series(var[::-1], index=time_index[::-1])
# map year to data
intervals = calendar.map_year_to_data(test_data, flat=True)
intervals

0      (2021-11-27, 2021-11-30]
1      (2021-11-24, 2021-11-27]
2      (2021-11-21, 2021-11-24]
3      (2021-11-18, 2021-11-21]
4      (2021-11-15, 2021-11-18]
                 ...
358    (2018-12-14, 2018-12-17]
359    (2018-12-11, 2018-12-14]
360    (2018-12-08, 2018-12-11]
361    (2018-12-05, 2018-12-08]
362    (2018-12-02, 2018-12-05]
Length: 363, dtype: interval

Lag shifting trimming of intervals.

In [6]:
# intervals = calendar.lag_shift_trim(intervals, lag, start_target, end_target)