Tutorial of `AdventCalendar` module in `s2s` package.

In [1]:
import numpy as np
import pandas as pd
import s2s.time

Create AdventCalendar instance.

In [2]:
calendar = s2s.time.AdventCalendar(anchor_date=(11, 30), freq='10d')
calendar

AdventCalendar(month=11, day=30, freq=10d, n=36)

Map the calendar to a single year.

In [3]:
intervals = calendar.map_years(2020)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-26,t-27,t-28,t-29,t-30,t-31,t-32,t-33,t-34,t-35
2020,"(2020-11-20, 2020-11-30]","(2020-11-10, 2020-11-20]","(2020-10-31, 2020-11-10]","(2020-10-21, 2020-10-31]","(2020-10-11, 2020-10-21]","(2020-10-01, 2020-10-11]","(2020-09-21, 2020-10-01]","(2020-09-11, 2020-09-21]","(2020-09-01, 2020-09-11]","(2020-08-22, 2020-09-01]",...,"(2020-03-05, 2020-03-15]","(2020-02-24, 2020-03-05]","(2020-02-14, 2020-02-24]","(2020-02-04, 2020-02-14]","(2020-01-25, 2020-02-04]","(2020-01-15, 2020-01-25]","(2020-01-05, 2020-01-15]","(2019-12-26, 2020-01-05]","(2019-12-16, 2019-12-26]","(2019-12-06, 2019-12-16]"

Map the calendar to multiple years (start year - end year).

In [4]:
intervals = calendar.map_years(2020, 2022)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-26,t-27,t-28,t-29,t-30,t-31,t-32,t-33,t-34,t-35
2022,"(2022-11-20, 2022-11-30]","(2022-11-10, 2022-11-20]","(2022-10-31, 2022-11-10]","(2022-10-21, 2022-10-31]","(2022-10-11, 2022-10-21]","(2022-10-01, 2022-10-11]","(2022-09-21, 2022-10-01]","(2022-09-11, 2022-09-21]","(2022-09-01, 2022-09-11]","(2022-08-22, 2022-09-01]",...,"(2022-03-05, 2022-03-15]","(2022-02-23, 2022-03-05]","(2022-02-13, 2022-02-23]","(2022-02-03, 2022-02-13]","(2022-01-24, 2022-02-03]","(2022-01-14, 2022-01-24]","(2022-01-04, 2022-01-14]","(2021-12-25, 2022-01-04]","(2021-12-15, 2021-12-25]","(2021-12-05, 2021-12-15]"
2021,"(2021-11-20, 2021-11-30]","(2021-11-10, 2021-11-20]","(2021-10-31, 2021-11-10]","(2021-10-21, 2021-10-31]","(2021-10-11, 2021-10-21]","(2021-10-01, 2021-10-11]","(2021-09-21, 2021-10-01]","(2021-09-11, 2021-09-21]","(2021-09-01, 2021-09-11]","(2021-08-22, 2021-09-01]",...,"(2021-03-05, 2021-03-15]","(2021-02-23, 2021-03-05]","(2021-02-13, 2021-02-23]","(2021-02-03, 2021-02-13]","(2021-01-24, 2021-02-03]","(2021-01-14, 2021-01-24]","(2021-01-04, 2021-01-14]","(2020-12-25, 2021-01-04]","(2020-12-15, 2020-12-25]","(2020-12-05, 2020-12-15]"
2020,"(2020-11-20, 2020-11-30]","(2020-11-10, 2020-11-20]","(2020-10-31, 2020-11-10]","(2020-10-21, 2020-10-31]","(2020-10-11, 2020-10-21]","(2020-10-01, 2020-10-11]","(2020-09-21, 2020-10-01]","(2020-09-11, 2020-09-21]","(2020-09-01, 2020-09-11]","(2020-08-22, 2020-09-01]",...,"(2020-03-05, 2020-03-15]","(2020-02-24, 2020-03-05]","(2020-02-14, 2020-02-24]","(2020-02-04, 2020-02-14]","(2020-01-25, 2020-02-04]","(2020-01-15, 2020-01-25]","(2020-01-05, 2020-01-15]","(2019-12-26, 2020-01-05]","(2019-12-16, 2019-12-26]","(2019-12-06, 2019-12-16]"

Flatten the indices.

In [5]:
intervals = calendar.map_years(2020, 2022, flat=True)
intervals

0      (2022-11-20, 2022-11-30]
1      (2022-11-10, 2022-11-20]
2      (2022-10-31, 2022-11-10]
3      (2022-10-21, 2022-10-31]
4      (2022-10-11, 2022-10-21]
                 ...
103    (2020-01-15, 2020-01-25]
104    (2020-01-05, 2020-01-15]
105    (2019-12-26, 2020-01-05]
106    (2019-12-16, 2019-12-26]
107    (2019-12-06, 2019-12-16]
Length: 108, dtype: interval

Map the calendar to the input data.

In [6]:
# create dummy data for testing
time_index = pd.date_range('20171220', '20211120', freq='30d')
var = np.random.random(len(time_index))
# generate input data
test_data = pd.Series(var, index=time_index)
# map year to data
intervals = calendar.map_to_data(test_data, flat=False)
intervals

/home/yangliu/AI4S2S/ai4s2s/s2s/time.py:207: UserWarning: The last few intervals are not fully covered by the input data.
  warnings.warn("The last few intervals are not fully covered by the input data.", UserWarning)

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-26,t-27,t-28,t-29,t-30,t-31,t-32,t-33,t-34,t-35
2020,"(2020-11-20, 2020-11-30]","(2020-11-10, 2020-11-20]","(2020-10-31, 2020-11-10]","(2020-10-21, 2020-10-31]","(2020-10-11, 2020-10-21]","(2020-10-01, 2020-10-11]","(2020-09-21, 2020-10-01]","(2020-09-11, 2020-09-21]","(2020-09-01, 2020-09-11]","(2020-08-22, 2020-09-01]",...,"(2020-03-05, 2020-03-15]","(2020-02-24, 2020-03-05]","(2020-02-14, 2020-02-24]","(2020-02-04, 2020-02-14]","(2020-01-25, 2020-02-04]","(2020-01-15, 2020-01-25]","(2020-01-05, 2020-01-15]","(2019-12-26, 2020-01-05]","(2019-12-16, 2019-12-26]","(2019-12-06, 2019-12-16]"
2019,"(2019-11-20, 2019-11-30]","(2019-11-10, 2019-11-20]","(2019-10-31, 2019-11-10]","(2019-10-21, 2019-10-31]","(2019-10-11, 2019-10-21]","(2019-10-01, 2019-10-11]","(2019-09-21, 2019-10-01]","(2019-09-11, 2019-09-21]","(2019-09-01, 2019-09-11]","(2019-08-22, 2019-09-01]",...,"(2019-03-05, 2019-03-15]","(2019-02-23, 2019-03-05]","(2019-02-13, 2019-02-23]","(2019-02-03, 2019-02-13]","(2019-01-24, 2019-02-03]","(2019-01-14, 2019-01-24]","(2019-01-04, 2019-01-14]","(2018-12-25, 2019-01-04]","(2018-12-15, 2018-12-25]","(2018-12-05, 2018-12-15]"
2018,"(2018-11-20, 2018-11-30]","(2018-11-10, 2018-11-20]","(2018-10-31, 2018-11-10]","(2018-10-21, 2018-10-31]","(2018-10-11, 2018-10-21]","(2018-10-01, 2018-10-11]","(2018-09-21, 2018-10-01]","(2018-09-11, 2018-09-21]","(2018-09-01, 2018-09-11]","(2018-08-22, 2018-09-01]",...,"(2018-03-05, 2018-03-15]","(2018-02-23, 2018-03-05]","(2018-02-13, 2018-02-23]","(2018-02-03, 2018-02-13]","(2018-01-24, 2018-02-03]","(2018-01-14, 2018-01-24]","(2018-01-04, 2018-01-14]","(2017-12-25, 2018-01-04]","(2017-12-15, 2017-12-25]","(2017-12-05, 2017-12-15]"

In [ ]:
# input data in reverse order
test_data = pd.Series(var[::-1], index=time_index[::-1])
# map year to data
intervals = calendar.map_year_to_data(test_data, flat=True)
intervals

Discard function.

In [ ]:
# lag 4 (see mark_target_period in time.py)
# intervals.iloc[:,4:4+4] # get lag 4 for t-0 to t-3 function(lag, start_target, end_target)
# intervals.iloc[:,4:4+4].stack().reset_index(drop=True)

Resample the input data with target frequency.

Upscale with `pd.Series` and `pd.DateFrame`.

In [ ]:
# create dummy data for testing
time_index = pd.date_range('20211101', '20211116', freq='1d')
var = np.random.random(len(time_index))
# input data in reverse order
test_data = pd.Series(var[::-1], index=time_index[::-1])
test_data

In [ ]:
# input data in normal order
var_1 = np.random.random(len(time_index))
var_2 = np.random.random(len(time_index))
test_data = pd.DataFrame({"var_1": var_1, "var_2": var_2}, index=time_index)
test_data

Downscale with `pd.Series` and `pd.DateFrame`.

In [ ]:
time_index = pd.date_range('20211101', '20211116', freq='2d')
data = np.random.random(len(time_index))
test_data = pd.Series(data[::-1], index=time_index[::-1])
test_data